@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 44px 100px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    margin: 0;
}

.logo {
    height: 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 70px;
    margin-top: 40px;
    align-items : center; 
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width : auto;
    margin : 35px 0;
}

.photographer_section article a {
    text-decoration : none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a h2 {
    color: #D3573C;
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    margin: 20px 0 0 0;
    text-decoration : none;
}

.photographer_profile_picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer_section--location {
    color: #901C1C;
    font-family: DM Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
}

.photographer_section--tagline {
    color: #000000;
    font-family: DM Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
}

.photographer_section--price {
    color : #757575;
    font-family: DM Sans;
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;    
    margin: 0;
}

.photographer-gallery {

}

.photographer_gallery--element {
    height: 351px;
    width: 350px;
    left: 990px;
    top: 547px;
    border-radius: 0px;
    object-fit: cover;
}