@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 25px 100px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    margin: 0;
}

h2 {
    color: #D3573C;
    font-family: DM Sans;
    font-size: 64px;
    font-weight: 400;
    line-height: 83px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.logo {
    height: 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 70px;
    margin-top: 40px;
    align-items : center; 
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width : auto;
    margin : 35px 0;
}

.photographer_section article a {
    text-decoration : none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a h2 {
    color: #D3573C;
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    margin: 20px 0 0 0;
    text-decoration : none;
}

.photographer_profile_picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    text-align: end;
}

.photographer_section--location, .photograph_header--location, .photographer_section--tagline, .photograph_header_header, .photographer_section--price {
    color: #901C1C;
    font-family: DM Sans;
    font-weight: 400;
    letter-spacing: 0em;
    margin: 0;
}

.photographer_section--location {
    font-size: 13px;
    line-height: 17px;
    text-align: center;    
}

.photograph_header--location {
    font-size: 24px;
    line-height: 31px;
    text-align: left;
}

.photographer_section--tagline {
    color: #000000;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
}

.photograph_header--tagline {
    color: #525252;
    font-size: 18px;
    line-height: 23px;
    text-align: left;    
}

.photographer_section--price {
    color : #757575;
    font-size: 9px;
    line-height: 12px;
    text-align: center;    
}

.photograph-header {
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.photograph-header--div-infos, .photograph-header--div-img {
    width: 35%;
    display: flex;
}

.photograph-header--div-infos {
    justify-content: flex-start;
    flex-direction: column;
}

.contact_button {
    height: 69px;
    width: 170px;
    left: 535px;
    top: 137px;
}

.photograph-header--div-img {
    justify-content: flex-end;
}

.photograph-gallery--filter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.photograph-gallery--filter__selected {
    background-color: #901C1C;
    color: white;
}

.photograph-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap : 20px;
    margin-top: 30px;
    position: relative;
}

.photographer_gallery--element__img {
    height: 300px;
    width: 350px;
    border-radius: 0px;
    object-fit: cover;
}

.photographer_gallery--element__infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:#901C1C;
}

.photographer_gallery--element__infos div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.photograph-price {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #CB8876;
    width: 370px;
    height: 60px;
    border-radius: 5px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.photograph-price div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#lightbox {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: white;
}

.close {
    margin: 20px;
}

.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mySlide {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mySlide img {
    width: auto;
    height: 80vh;
    object-fit: contain;
}